

body{
    background-color: antiquewhite;
}
img:hover{
    transform: rotate(90deg);
    transition: margin-right 2s;


}
h1:hover{
    transform: rotate(-20deg);


}

.burn {
    font-size: 2rem;
    background-color: palegoldenrod;
    transition: background-color 2s 500ms;
  }
  
  .burn:hover {
    background-color:rgb(139, 0, 0);
  }
  